@import url(/vendor/normalize.css);

.main {
  background-color: #2A2C2F;
}

.page {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  padding: 28px 0 24px 0;
}

@media (max-width: 767px) {
  .page {
    padding: 16px 0 24px 0;
  }
}

.header {
  width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  background-color: burlywood;
}

@media (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .header {
    width: calc(100% - 32px);
    height: 42px;
  }
}

.header__logo {
  object-fit: cover;
  width: 176px;
  height: 52px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    object-fit: cover;
    width: 142px;
    height: 42px;
  }
}

.header__lang-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 18px;
}

.header__lang-link {
  color: #ffffff;
  text-decoration: none;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
}
  
@media screen and (max-width: 767px) {
  .header__lang-link {
    line-height: 20px;
    font-size: 18px;
  }
}

.content {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 56px 0 92px 0;
  gap: 92px;
}

@media screen and (max-width: 1279px) {
  .content {
    padding: 48px 0 92px 0;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    padding: 48px 0 88px 0;
    gap: 88px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    padding: 48px 0 64px 0;
    gap: 64px;
  }
}

.lead {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: 100%;
  }
}

.lead__title {
  background-color: brown;
  max-width: 720px;
  margin: 0 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__subtitle {
  background-color: cadetblue;
  max-width: 640px;
  margin: 32px auto 0 auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin: 16px auto 0 auto;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}

.lead__image {
  width: 100%;
  margin: 64px 0 0 0;
}

@media screen and (max-width: 1279px) {
  .lead__image{
    margin: 56px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .lead__image{
    margin: 40px 0 0 0;
  }
}

.lead__caption {
  background-color: cornflowerblue;
  margin: 8px 0 0 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding: 0 0 0 24px;
  }
}

@media screen and (max-width: 767px) {
    .lead__caption {
      padding: 0 0 0 16px;
    }
}

.intro {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .intro {
    width: 928px;
  }
}

@media screen and (max-width: 979px) {
  .intro {
    width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: calc(100% - 16px * 2);
  }
}

.intro__title {
  background-color: brown;
  margin: 0;
  max-width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}

.intro__text {
  background-color: cadetblue;
  margin: 40px 0 0 0;
  max-width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}

.intro__facts {
  background-color: cornflowerblue;
  margin: 33px 0 0 0;
  max-width: 690px;
  padding: 0;
  list-style: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.photo-grid {
  background-color: blanchedalmond;
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: calc(100% - 48px * 2);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: calc(100% - 24px * 2);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: calc(100% - 16px * 2);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 12px;
  }
}

.photo-grid__item {
  width: 100%;
  object-fit: cover;
}

.places {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  width: calc(100% - 148px * 2);
  margin: 0 auto;
  gap: 80px;
}

@media screen and (max-width: 1279px) {
  .places {
    width: calc(100% - 48px * 2);
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: calc(100% - 24px * 2);
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 100%;
    gap: 50px;
  }
}

.place {
  background-color: burlywood;
  display: grid;
  grid-template-columns: minmax(460px, 480px) 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

@media screen and (max-width: 1279px)  {
  .place {
    grid-template-columns: minmax(440px, 460px) 1fr;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid: 600px auto / 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 32px
  }
}


.place__title {
  background-color: brown;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
}

.place__website {
  background-color: cadetblue;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;
}

@media screen and (max-width: 767px) {
  .place__website {
    padding: 0 16px;
  }
}

.website__url-heading {
  background-color: brown;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.website__link {
  background-color: blueviolet;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__image {
  width: 100%;
  object-fit: cover;
}

.place__text-block {
  background-color: coral;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.place__paragraph {
  background-color: brown;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
  font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
  padding: 0 16px;
  }
}

.cover__overlay {
  text-decoration: none;
  width: calc(100% - 48px * 2);
  min-height: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("/images/cover-trains.jpg") center center/cover no-repeat;
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
  }
}

.cover__title {
  background-color: brown;
  max-width: 560px;
  margin: 0 auto 32px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto 16px;
  }
}

.cover__subtitle {
  background-color: cadetblue;
  max-width: 360px;
  margin: 0 auto 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}

.footer {
  width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: burlywood;
}

@media (max-width: 1023px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .footer {
    width: calc(100% - 16px * 2);
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    gap: 48px;
  }
}

.footer__links {
  background-color: coral;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
}

@media (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}

.footer__link {
  background-color: blueviolet;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__copyright {
  background-color: darkgoldenrod;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}
